body {
  --bg: #ecdcd5;
  --bg-2: #fff;
  --bg-3: #fff;
  --bg-dark: #fff;
  --font: #222;
  --light: #000;
  --secondary: #00c0ff;
}

.dark {
  --bg: #252525;
  --bg-2: #444;
  --bg-3: #333;
  --bg-dark: #131313;
  --font: #cecece;
  --light: #fff;
  --secondary: #b4fdff;
}
