.c-chat_list {
  width: 25.7%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  min-width: 320px;
  overflow-y: scroll;
  background-color: var(--bg-dark);
  color: var(--light);
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
