.c-chat_list {
  width: 25.7%;
  height: 100%;
  box-sizing: border-box;
  min-width: 320px;
  overflow-y: scroll;
  background: var(--global-bg-primary);
  color: var(--global-font-primary_lighter);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  user-select: none;
}
