.c-user_info {
  max-width: 400px;
  height: 100%;
  background: var(--global-bg-primary);
  color: var(--global-font-primary);
  border: 1px solid var(--global-bg-primary);
  transition: max-width 0.3s;
  white-space: nowrap;

  &-title {
    font-size: 20px;
    font-weight: normal;
    display: flex;
    align-items: center;
    padding: 10px;
  }

  &-avatar {
    width: 100%;
  }

  &-item {
    line-height: 30px;
    padding-left: 10px;
    color: var(--global-font-primary);
  }
}
