.c-user_info {
  max-width: 400px;
  height: 100%;
  background: var(--global-bg-primary);
  color: var(--global-font-primary);
  border: 1px solid var(--global-bg-primary);
  transition: max-width 0.3s;
  white-space: nowrap;
  position: relative;
  overflow: hidden;

  &-title {
    font-size: 20px;
    font-weight: normal;
    display: flex;
    align-items: center;
    padding: 10px;
  }

  &-avatar {
    width: 100%;
  }

  &-item {
    line-height: 35px;
    padding-left: 10px;
    color: var(--global-font-primary);
  }

  &-btn{
    display:block;
    border:none;
    width:80px;
    height:30px;
    border-radius: 15px;
    background:var(--global-bg-primary_lighter);
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    opacity: 0;
  }
}
