.user_info {
  max-width: 400px;
  height: 100%;
  background-color: var(--bg-dark);
  color: var(--font);
  border: 1px solid var(--bg);

  &-title {
    font-size: 20px;
    font-weight: normal;
    display: flex;
    align-items: center;
    padding: 10px;
  }

  &-avatar {
    width: 100%;
  }
}
