.c-header-left-dropdown {
  position: absolute;
  background: var(--global-bg-primary);
  z-index: 2;
  width: 25.7%;
  height: 100vh;
  min-width: 320px;
  top: 100px;
  left: 0;

  &-item {
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    padding: 0 35px;
    transition: all 0.2s;
  }

  &-item:hover {
    background: var(--global-bg-primary_lighter);
  }
}

#dark_mode {
  display: flex;
  align-items: center;
  position: relative;
  cursor: default;
}

#dark_mode:hover {
  background: var(--global-bg-primary);
}
