.switch_wrapper {
  position: absolute;
  right: 12%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;

    &-input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    &-input:checked + &-slider {
      background: #2196f3;
    }

    &-input:focus + &-slider {
      box-shadow: 0 0 1px #2196f3;
    }

    &-input:checked + &-slider::before {
      transform: translateX(30px);
    }

    &-slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 30px;
    }

    &-slider::before {
      position: absolute;
      content: '';
      height: 24px;
      width: 24px;
      left: 3px;
      bottom: 3px;
      background: white;
      transition: 0.4s;
      border-radius: 50%;
    }
  }
}
