* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 5.208vw;
  background-color: var(--bg-dark);
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  overflow: hidden;
}

li {
  list-style: none;
}
