@use './styles/index.scss';

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 5.208vw;
  background: var(--global-bg-primary_darker);
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

li {
  list-style: none;
}
